
 <!-- Footer -->

<section class="bottom_container" id="footer">
  <a href="https://www.facebook.com/voyageeducarefoundation/" target="_blank"><i class="social-icon fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/voyageeducarefoundation/" target="_blank"><i class="social-icon fab fa-instagram"></i></a>
  <a href="mailto: aaquilrizvi1992@gmail.com" target="_blank"><i class="social-icon fas fa-envelope"></i></a>
   <p class="copyright">© Copyright 2020. All rights reserved.</p>
</section>

</body>

</html>
