<%- include('partials/header'); -%>

<div class="container-fluid">
<div class="contact_form">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Join us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 lead">We're always looking for great folks to
        join us on our mission. Three ways in which
        you can help are:</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 center_align">
            <form id="contact-form" name="contact-form" action="mailto: aaquilrizvi1992@gmail.com" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">How would you like to help</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Any thoughts? We'd love to hear them!</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
</div>
    </section>
        <hr>
        <!--Grid column-->

      <div class="address">
          <h4>Address:</h4>

        <p>6 FR 601 HANS RESIDENCY D WNG CTS915 917 922 MASRANI LANE VINOBHA BHAVE NGR BHD SIDDHAPURA INDUS KURLA W <br>
            Mumbai City - 400070 <br>
            Maharashtra - India</p>
        <div class="center_align">
            <iframe width="325" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=280&w=325&cp=18.95013975054978~72.81908830681054&lvl=12&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
            </iframe>
            <div class="center_align" style="white-space: nowrap; text-align: center; width: 325px; padding: 6px 0;">
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Mumbai City IN.</p>
                <a id="largeMapLink" target="_blank" href="https://www.google.com/maps/place/Hans+Residency/@19.074664,72.8817695,17z/data=!4m8!1m2!2m1!1s6+FR+601+HANS+RESIDENCY+D+WNG+CTS915+917+922+MASRANI+LANE+VINOBHA+BHAVE+NGR+BHD+SIDDHAPURA+INDUS+KURLA+W+Mumbai+City+MH+400070+IN+++Director+Details+DIN%09Director+Name%09Designation%09Appointment+Date%09+08558066++SHOEB+MOHAMMAD+SAYED++Director++19+September+2019++View+other+directorships++08558022++AQUIL+ABBAS+RIZVI++Director++19+September+2019++View+other+directorships++08558050++SAYED+SAOLAT+ZEHRA+IMTIYAZ+HYDER++Director++19+September+2019++View+other+directorships++08566856++YASH+SALUNKHE++Director++19+September+2019++View+other+directorships++Past+Director+Details!3m4!1s0x3be7c99711672ffd:0x957b7d7674f5db59!8m2!3d19.0742864!4d72.8835884">View Larger Map</a> &nbsp; | &nbsp;
                <a id="dirMapLink" target="_blank" href="https://www.google.com/maps/dir//Hans+Residency,+Masrani+Ln,+near+Al-Barkaat+School,+Kurla+West,+Kurla,+Mumbai,+Maharashtra+400070/@19.074664,72.8817695,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3be7c99711672ffd:0x957b7d7674f5db59!2m2!1d72.8835884!2d19.0742864">Get Directions</a>                 
                  </div>
            </div>
    </div>
        
    
    


<hr>

<!--Section: Contact v.2-->
<section class="donate" id="donatenow">
    <div class="donate_img">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10">
                <img src="images/donate1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="100">
                <img src="images/donate2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="100">
                <img src="images/donate3.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="100">
                <img src="images/donate4.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="100">
                <img src="images/donate5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    <a href="https://www.impactguru.com/fundraiser/help-covid-warriors-of-maharashtra?utm_source=android&utm_medium=share_whatsapp&utm_campaign=help-covid-warriors-of-maharashtra&iglsmp=1" target="_blank">
        <button type="button" class="btn btn-outline-success btn-lg ">Donate&nbsp;<i class="far fa-heart"></i></button>
    </a>
    </div>
</section>



</div>

</div>





<%- include('partials/footer'); -%>