<%- include('partials/header'); -%>

<div class="bg-image"><div class="bg-text">
  <h1>Dedicated to Providing the Best Education & Health Care.</h1>
</div></div>



<section>
    <div class="second_section">
      <div class="middle_container">
        <h1>About Voyage Educare Foundation</h1>
        <p class="company_desp">VOYAGE EDUCARE FOUNDATION, located in Mumbai, is driven by SAYED SAOLAT ZEHRA IMTIYAZ HYDER, SHOEB MOHAMMAD SAYED, AQUIL ABBAS RIZVI and YASH SALUNKHE. It is a Private company, incorporated on Sep 19, 2019. It is classified as a Non-govt company and registered at Mumbai. The registration number for the mentioned company is 330746 and its Corporate Identification Number (CIN) is U85310MH2019NPL330746 having an Active status currently. </p>
      </div>
    </div>
  </section>
  <section>
    <div class="Third_section">
      <div class="middle_container">
        <h1>Our Vision</h1>
        <p>
          <ul class="company_desp">
            <li>Work as a catalyst in bringing sustainable change in the lives of underprivileged rural & urban communities, with a life-cycle approach of development.</li>
            <li>We believe in the impact of holistic education with care towards transforming underserved rural and urban communities into a sustainable global equitable society.</li>
            <li>Adopt highest standards of governance to emerge as a leading knowledge and technology driven, innovative and scalable international development organ            </li>
          </ul>
          </p>
      </div>
    </div>
  </section>


<%- include('partials/footer'); -%>