<%- include('partials/header'); -%>



<section class="py-5">
    <div class="container">
      <h1 class="display-4">Our Programmes</h1>

      <div class="work_des">
        <h3 class="work_heading">Helping needy families during lockdown due to the Coronavirus</h3>
        <p class="company_desp">A big thank you to Atharvani Global Foundation for helping us reach out to the 
            needy families in distress during this extended lockdown due to the Coronavirus. With your 
            kind help, we were able to provide direct support with 10 days of ration to approximately 
            150 families from Azmi Nagar, New Collector Compound, Mhada, and Ambujwadi.
            <br>
          The relief work would not have been possible without the smooth and speedy coordination done 
          by Poonam Lakeshri Lohire from the Mumbai team. Her timely push and assistance made the relief work easy. 
          Thank you to Khadija Choonawala from the Pune team to help us connect with Poonam Lakeshri Lohire and her 
          dedicated team in Mumbai.
          We are incredibly grateful for your timely support and trust. You and your team are the rightful
           crusaders of humanity.
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active" style="background-image: url('images/w1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <p class="lead">Distributing .</p>
                </div>
              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item"style="background-image: url('images/w2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <p class="lead">Relief material received at the location.</p>
                </div>
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url('images/w3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <!-- Slide Four - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url('images/w4.jpg')">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <!-- Slide Five - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url('images/w5.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <p class="lead">Going to Distribute the Ration.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
    </div>
  </section>

 


<%- include('partials/footer'); -%>